{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindFunctions": ["clsx", "cn", "twMerge"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}
